[submodule "lib/acpi"]
	path = lib/acpi
	url = https://github.com/IsaacWoods/acpi
[submodule "lib/uefi-rs"]
	path = lib/uefi-rs
	url = git@github.com:IsaacWoods/uefi-rs.git
[submodule "lib/ucs2-rs"]
	path = lib/ucs2-rs
	url = git@github.com:IsaacWoods/ucs2-rs.git
