[submodule "lib/acpi"]
	path = lib/acpi
	url = https://github.com/IsaacWoods/acpi
[submodule "lib/pci_types"]
	path = lib/pci_types
	url = https://github.com/rust-osdev/pci_types
[submodule "bundled/opensbi"]
	path = bundled/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "lib/fdt"]
	path = lib/fdt
	url = https://github.com/IsaacWoods/fdt.git
