[workspace]
members = [
    "acpi",
    "common",
    "heap_allocator",
    "multiboot2",
    "x86_64",
]

[package]
name = "kernel"
version = "0.0.1"
authors = ["Isaac Woods"]

[dependencies]
volatile                = "*"
spin                    = "*"
bitflags                = "*"
bit_field               = "*"
serde_derive            = "1.0"

[dependencies.serde]
version = "1.0"
default-features = false
features = ["alloc"]

[dependencies.log]
version             = "*"
default-features    = false

[dependencies.heap_allocator]
path = "heap_allocator"

[dependencies.libmessage]
path = "../libmessage"
features = ["kernel"]
